{% extends 'base_tableros.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://openlayers.org/en/v5.2.0/css/ol.css" type="text/css">

  <script src="https://openlayers.org/en/v5.2.0/build/ol.js"></script>

  <!-- ol-popup -->
  <script src="https://unpkg.com/ol-popup@4.0.0"></script>
  <link href="{% static 'assets/css/popup.css' %}" rel="stylesheet">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <!-- Estilos Personalizados -->
  <link href="/static/assets/css/estilos.css" rel="stylesheet">
  <link href="/static/assets/css/estilo_unidades_activas.css" rel="stylesheet">
{% endblock %}

  {% block titulo-navbar %}
    Geoposicionamiento de colectivos en tiempo real
  {% endblock %}
  {% block descripcion %}
    {{descripcion|safe}}
  {% endblock %}

  {% block content %}
    <div class="row align-items-center">
      <div class="form-group col-sm-5 col-md-4">
        <label for="recorrido" class="negrita">Seleccione recorrido:</label>
        <select class="form-control" id="recorrido">
            <option value="TODOS">Mostrar todos los colectivos circulando</option>
          {% for recorrido in recorridos %}
            <option value="{{recorrido.id}}">{{recorrido}} - {{recorrido.descripcion_interna}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-sm-2 col-md-2" style="margin-top:auto; height:100%">
        <button type="button" class="btn btn-primary btn-md" id="btnViajes"
                data-loading-text="<i class='fa fa-spinner fa-spin '></i> Obteniendo recorridos">
          Cargar mapa filtrado
        </button>
      </div>
      <div class="form-group col-sm-2 col-md-2" style="margin-top:auto; height:100%">
          <button type="button" class="btn btn-primary btn-md" id="btnLimpiar"
                  data-tooltip="Borrar datos del mapa."
                  onclick="limpiar_mapa()"
                  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Limpiando mapa"> Limpiar mapa
          </button>
      </div>
    </div>

    <div id="map" class="map"></div>
{% endblock %}

{% block scripts %}
  <script src="{% static "/assets/js/maps.js" %}" async defer></script>
  <script src="{% static "/assets/js/botones_mapa.js" %}" async defer></script>
{% endblock %}
