{% extends "base.html" %}

{% block content %}

<img src='/static/images/header-transporte.png' width="100%" height="auto"/>

<br><br><h1 align="center">ORDEN DE SERVICIO N° _____________</h1><br>
  <h2 align="right">
Libro N° __________________
</h2>
<h2 align="right">
Folio N° __________________
</h2><br>

<h4>Sres. Empresa {{empresa}}:</h4>
<p>
Por la presente se informa que el servicio de datos con el que se controla al sistema de
 transporte y a su vez en insumo para la aplicación Go sufre falencias derivadas de
  la falta de registro de algunas unidades de transporte.
Estas fallas no permiten realizar el control correspondiente a las frecuencias ni
 informar a la ciudadanía de manera adecuada de las unidades disponibles.
La falta de registro de las unidades es requisito que se solucione a la brevedad, de lo
contrario se aplicará la correspondiente multa por falta de unidades circulando tal
como se indica en los pliegos de licitación.
</p>

<p><b>Detalle de internos que recorren la ciudad sin estar identificados a este momento</b></p>
<p>Total de unidades: <b>{{ internos_no_logueados|length }}</b></p>

<table class="table">
  <thead>
    <tr><th scope="col">Número de interno</th></tr>
  </thead>
  <tbody>
  {% for interno in internos_no_logueados %}
    <tr><td>{{ interno.name }}</td></tr>
  {% endfor %}
</tbody>
</table>
<br><br>
<p>Quedan ustedes debidamente notificados.</p>
<h2 align="right">Firma: __________________</h2>
<h2 align="right">Aclaración: __________________</h2>
<h3>Fecha:{{ ahora|date:"D d \d\e F \d\e Y" }}</h3>
{% endblock %}
