{% extends 'base_mini.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}
{{block.super}}
    {{script|safe}} <!-- script generado por el grafico -->
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
        rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

{% endblock %}

{% block content %}

    <div style="width: 100vw; height:100vh">{{plot|safe}}</div>

{% endblock %}

{% block scripts %}

{% endblock %}