{% load staticfiles %}
{% load l10n %}

{% block styles %}
  <link href="/static/assets/css/estilos.css" rel="stylesheet">
  <link href="/static/assets/css/gaugeMeter.css" rel="stylesheet">
{% endblock %}

<style>
    .graphCont  b{
        font-size: 1.2em !important;
    }
</style>


{% block head %}
  <script type="text/javascript" src="/static/assets/jquery/jquery-3.4.0.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/GaugeMeter.js"></script>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
      var prc = {{ porc_act_comp|unlocalize }};
      var size = $(window).height() / 2;
      $("#chart_div").gaugeMeter({percent:prc*100, size:size});

      var prc = {{ porc_act_no_log|unlocalize }};
      var size = $(window).height() / 2;
      $("#chart_div1").gaugeMeter({percent:prc*100, size:size});

      var prc = {{ porc_act_adap|unlocalize }};
      var size = $(window).height() / 2;
      $("#chart_div2").gaugeMeter({percent:prc*100, size:size});

      // var prc = {{ porc_adaptados_activos|unlocalize }};
      // var size = $(window).height() / 3;
      // $("#chart_div4").gaugeMeter({percent:prc*100, size:size});

      // Recarga la página cada 2 minutos.
      setInterval("location.reload(true)", 120000);
  });
</script>

{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="head text-center">
  <h2 class="tituloPrincipal">INDICADORES DE TRANSPORTE EN TIEMPO REAL - COMO % DE LOS COMPROMETIDOS</h2>
</div>

<div class="graphCont">
    <div id="chart_div" class="GaugeMeter"
      data-append="%"
      data-width="25"
      data-style="Arch"
      data-size="300"
      data-animate_gauge_colors="true"
      data-animate_text_colors="true"
      data-text_size="0.20"
      data-stripe=1
      data-label="{{ suma_internos_logueados }} activos">
    </div>
    <div class="chartDesc">
      Indica las unidades activas prestando servicio y lo expresa como porcentaje del total de unidades comprometidas.
    </div>
</div>

<div class="graphCont">
    <div id="chart_div1" class="GaugeMeter"
      data-append="%"
      data-width="25"
      data-style="Arch"
      data-size="300"
      data-animate_gauge_colors="true"
      data-animate_text_colors="true"
      data-text_size="0.20"
      data-stripe=1
      data-label="{{ colectivos_activos_no_registrados }} sin loguear">
    </div>
    <div class="chartDesc">
      Indica las unidades sin loguear y lo expresa como porcentaje del total de unidades comprometidas. El proceso de logueo lo realiza el chofer del colectivo al momento de iniciar un recorrido. De no hacerlo la municipalidad detecta que hay una unidad en la calle pero no puedo asociarlo a una línea y recorrido puntual.
    </div>
</div>

<div class="graphCont">
    <div id="chart_div2" class="GaugeMeter"
      data-append="%"
      data-width="25"
      data-style="Arch"
      data-size="300"
      data-animate_gauge_colors="true"
      data-animate_text_colors="true"
      data-text_size="0.20"
      data-stripe=1
      data-label="{{ adaptados_activos }} Adaptados activos">
    </div>
    <div class="chartDesc">
      Indica las unidades adaptadas que están prestando servicio y lo expresa como porcentaje del total de unidades comprometidas.
    </div>
</div>

{% endblock %}
