:root {
    --gcba-main-color: #00a665;

    --navbar-height: 75px;
}

body {
    background-color: black !important;
    background-image: url("../../images/fondo-cordoba-noche.jpg");
/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

    background-position: center center;

/* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;
}

nav.navbar {
    background-color: #009059 !important;;
/*    border-bottom: 1px solid lightgrey;*/
    height: var(--navbar-height);
    padding-bottom: 0;
    padding-top: 0;
}

.section-title {
    font-size: 16px;
}

@media (min-width: 576px) {
    .section-title {
       font-size: 22px;
    }
}

@media (min-width: 768px) {
    .section-title {
       font-size: 28px;
    }
}

div.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

div.navbar-brand div.logos > div {
    display: inline-block;
    height: var(--navbar-height);
}

div.navbar-brand div.logos div.sqGA {
    background-color: var(--gcba-main-color);
    color: white;
    text-align: center;
    width: 100px;
}

.stGA {
    fill: #FFFFFF;
}

div.navbar-brand div.logos div.sqGA .logoGA {
    font-size: .9rem;
    line-height: 1rem;
    margin-bottom: 0;
    white-space: normal;
}
