.descripcion {
    padding-left: 40px
}

.inline-block{
    display: inline-block;
}

.tablero-table{
    width: 100%;
}

.head {
    background-color: #009059;
    padding: 2px;
    margin: 0;
    color: #FFF;
}

.tituloPrincipal{
    white-space: nowrap;
}

.titulo_empresa{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25em;
    margin: 0;
}

.badgeAlert{
    border-radius: 10px;
    margin: 0!important;
    padding: 5px 20px;
}

.badgeAlert.alert{
    background-color: #ff0000;
    color: #FFFFFF;
}

.badgeAlert.warning{
    background-color: #f9fd00;
    color: #424244;
}

.badgeAlert.sucess{
    background-color: #1ea301;
    color: #FFFFFF;
}

/*.badgeAlert.aucor{
    background-color: #f9fd00;
    color: #424244;
}*/

.badgeAlert .linea{
    margin: 0;
    font-size: 2.5em;
    font-weight: 900;
    display: inline-block;
}

.badgeAlert .icono{
    display: inline-block;
    font-size: 2em;
    margin-left: 20px;
    vertical-align: 2px;
}

.infoBadge{
    background-color: #fdfdfe;
    color: #424244;
    border: 1px solid #dddddd;
    font-weight: 900;
    border-radius: 10px;
    display: inline-block;
    padding: 0px 15px;
    font-size:3em;
}

.text-center{
    text-align: center;
}

.infoCont{
    padding: 0px 50px !important;
}
.infoDiv{
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 15px;
    height: 100px;
    align-items: center;
}
.infoDiv-linea-faltante{
    width: 60%;
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 15px;
    height: 40px;
    align-items: center;
}

.superior{
    background-color: #da1ad4;
}

.inferior{
    background-color: #6807a5;
}
.infoRankingLinea{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-weight: bold;
}
.infoRankingSize{
    font-size: 0.8em;
}

.info-linea .lineaNom{
    display: block;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
}

.info-linea .numero{
    display: block;
    font-weight: 900;
    font-size: 2em;
    margin-top: -12px;
    text-align: center;
}

.info-linea .border-right{
    border-right: 1px solid #dddddd;
}

.info-linea .progressCont{
    display: inline-flex;
    width: 100px;
    margin-left: 30px;
    align-items: center
}
.info-linea .progressCont .progress{
    height: 40px;
    width:100px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #cccccc;
}

.info-linea .progressCont .progress.alert .progress-bar{
    background-color: #ff0000;
}
.info-linea .progressCont .progress.alert,
.info-linea .progressCont .progress.sucess{
    color: #FFFFFF;
}

.info-linea .progressCont .progress.warning{
    color: #424244 !important;
}
.info-linea .progressCont .progress.warning .progress-bar{
    background-color: #f9fd00;
}

.info-linea .progressCont .progress.sucess .progress-bar{
    background-color: #1ea301;
}

/*.info-linea .progressCont .progress.autobuses-cordoba .progress-bar{
    background-color: #f9fd00;
}*/

.info-linea .progressCont .progress .progress-bar{
    font-weight: 900;
    font-size: 1.3em;
    color: inherit;
}

.inline-flex{
    display: inline-flex;
    align-content: center;

}

.header-flex{
    display: inline-flex;
    align-items: flex-end;
    border-bottom: 2px solid #2b2b2b;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.header-flex p{
    margin: 0;
    line-height: 1.1em;
    margin-bottom: 10px;
}

.divider{
    margin-top: 30px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.empresaInfo{
    text-align: center;
}


@media (min-width: 1079px) { 
    .infoDiv{
        height: 150px;
    }
}

/* Corresponde al contenedor del gráfico + descripción. */
.graphCont {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

/* Corresponde al contenedor de la descripción del gráfico. */
.chartDesc {
    align-self: center;
}