{% extends "desvios/base.html" %}
{% load staticfiles %}

{% block extrahead %}
  <!-- <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-table.min.css' %}"> -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.2/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" type="text/css">
  
  <link rel="stylesheet" href="{% static 'assets/css/desvios.css' %}">
  <link href="/static/assets/css/estilos.css" rel="stylesheet">
{% endblock %}

{% block section_title %}Control de desvios por día{% endblock %}

{% block content %}
<div class="row head">
    <div class="col">
<!--       <a href="{% url 'index' %}">
      <svg version="1.1" id="logoMuniCordoba"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 242.9 350"
             aria-labelledby="muniLogoTitle" width="auto" height="65" preserveAspectRatio="xMidYMid meet"
             xml:space="preserve">
            <title id="muniLogoTitle">Home</title> -->
<!--             <g>
                <path class="stLogo" d="M236.7,108.9l-28.5-28.5c-1.5-1.5-3.7-2.3-6-2.3c-2.3,0-4.6,0.9-6.1,2.4c-2.2,2.3-3,5.6-1.9,8.7
                c-3.7,5.3-9.7,8.4-16.1,8.4c-9.7,0-17.8-6.8-19.5-16.3h3.2c5,0,9.1-4.1,9.1-9.1c0-4.9-3.9-8.9-8.8-9.1c0.1-0.5,0.1-1,0.1-1.4
                c0-5-4.1-9.1-9.1-9.1h-23.6v-5h44.4c2.1,0,3.8-1.7,3.8-3.8V12c0-2.1-1.7-3.8-3.8-3.8h-44.5c-0.5-3.7-3.6-6.5-7.4-6.5
                c-4.1,0-7.5,3.4-7.5,7.5v43.2H91c-5,0-9.1,4.1-9.1,9.1c0,0.6,0.1,1.1,0.2,1.7c-4.1,1-6.9,4.6-6.9,8.8c0,5,4.1,9.1,9.1,9.1h1.4
                c-1.7,9.4-9.8,16.2-19.5,16.3c-6.8,0-13-3.4-16.6-9.1c0.2-0.7,0.4-1.5,0.4-2.3c0.1-2.3-0.7-4.5-2.3-6.1c-1.5-1.6-3.8-2.5-6.3-2.5
                c-2.2,0-4.3,0.8-5.8,2.2L6.2,107.3c-1.7,1.6-2.6,3.7-2.7,6c-0.1,2.3,0.7,4.4,2.3,6c1.6,1.7,3.7,2.7,6.2,2.7c0.8,0,1.5-0.1,2.3-0.3
                c12.4,8.9,19.8,23.3,19.8,38.6c0,8.8-2.4,17.4-7,24.9c-3.4,7.3-5.1,15-5.1,23c0,0.4,0,0.8,0,1.3l0,0.1l0,0.7c0,0.2,0,0.5,0.1,1.1
                c0,0.6,0.1,1.1,0.2,1.9c0.1,0.7,0.1,1.4,0.2,2.3c0.3,1.9,0.7,3.9,1.2,6.2l0.2,0.9c0.2,0.8,0.5,1.6,0.8,2.5l0.6,1.9
                c0.1,0.3,0.2,0.7,0.4,1l0.2,0.5c3,7.4,7.6,14.2,13.5,19.6l-0.1,0.1l5.5,4.3c0.5,0.4,1,0.7,1.5,1.1l59,39.2c5,3.5,10.8,5.3,16.8,5.3
                c6.6,0,13.1-2.2,18.1-6.3l58.8-39.2c0.2-0.1,0.4-0.3,0.5-0.4l2.2-1.6c7.2-5.8,12.9-13.4,16.4-22l0.4-0.7c2.2-5.6,3.4-11.5,3.7-17.8
                l0-0.7l0-0.1l0-0.1c0-0.4,0.1-0.8,0.1-1.2c0-7.7-1.7-15.3-5-22.6c-4.8-7.6-7.3-16.3-7.3-25.3c0-14.6,6.6-28.2,18.1-37.3
                c3,1,6.4,0.1,8.6-2.1C240,117.7,240,112.3,236.7,108.9z M41.1,82.4c0.3,0,0.5,0,0.8,0c0.8,0.1,1.6,0.5,2.1,1.1c0.6,0.7,1,1.6,1,2.5
                c0,1-0.4,1.8-1.1,2.5l-29.4,27.6c-1.4,1.3-3.8,1.2-5-0.1c-1.4-1.5-1.3-3.7,0.2-5l29.4-27.7C39.6,82.7,40.4,82.5,41.1,82.4z
                 M84.3,68H91h26.2v8.3h-33c-2.3,0-4.1-1.9-4.1-4.2C80.1,69.9,82,68,84.3,68z M91,57.5h26.2v8.3H90.9c-2.2-0.1-4.1-1.9-4.1-4.1
                C86.9,59.3,88.7,57.5,91,57.5z M122,6.7c1.4,0,2.5,1.1,2.5,2.5v99.1c-0.8-0.3-1.7-0.4-2.5-0.4c-0.9,0-1.7,0.1-2.5,0.4V9.3
                C119.5,7.9,120.6,6.7,122,6.7z M122,110.1c3.4,0,6.1,2.8,6.1,6.1c0,0.7-0.2,1.5-0.4,2.1h-11.3c-0.3-0.7-0.5-1.4-0.5-2.1
                C115.9,112.9,118.7,110.1,122,110.1z M172.8,23.6V32h-46v-8.4H172.8z M126.8,21.3v-8.2h46v8.2H126.8z M172.8,34.3v8.2h-46v-8.2
                H172.8z M153,57.5c2.3,0,4.2,1.9,4.2,4.2c0,2.3-1.8,4.1-4.1,4.1h-26.4v-8.3H153z M153,68h8.7c2.3,0,4.1,1.8,4.1,4.1
                c0,2.3-1.8,4.2-4.1,4.2h-34.9V68H153z M225.9,118.6c-3.2,2.4-6.1,5.2-8.7,8.3c-1.2,1.4-2.2,2.8-3.2,4.3c-0.1,0.1-0.2,0.2-0.3,0.4
                c-5.6,8.4-8.7,18.4-8.7,28.8c0,9.9,2.8,19.5,7.9,27.6c2.9,6.5,4.4,13.3,4.4,20.3c0,0.2,0,0.4,0,0.6c-7-1-13.8,0.7-19.4,4.8
                l-0.4,0.4c-8.6,6.5-18.9,9.8-29.6,9.8c-2.4,0-4.7-0.2-7-0.6c-0.8-3.3-3.8-5.7-7.2-5.7h-2.8c0.1-0.3,0.1-0.7,0.1-1.2
                c0-2.9-2.2-5.3-5-5.6l15.4-15.4l19.9,20c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l6.3-6.3l2.1-2.2l4.2-4.2
                c0.5-0.5,0.5-1.1,0-1.6l-19.9-20l0.6-0.6c0.4-0.4,0.4-1.2,0-1.6c-0.4-0.4-1.1-0.4-1.6,0l-1.4,1.4l-0.1,0l-12.7,12.7
                c0,0,0,0.1,0,0.1l-16.1,16.1v-27.1l0-0.1l18.8-18.8l20,20c0.2,0.2,0.5,0.4,0.8,0.4c0.3,0,0.6-0.1,0.8-0.4l5-5l3.4-3.4v0l4.2-4.2
                c0.4-0.4,0.4-1.2,0-1.6l-20-20l0.7-0.8c0.4-0.4,0.4-1.2,0-1.6c-0.4-0.4-1.2-0.4-1.6,0l-32.2,32.2v-23.4h0.7c3.2,0,5.8-2.6,5.8-5.8
                c0-1.7-0.8-3.2-1.9-4.3l16.2-16.1l20,20c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.5-0.1,0.8-0.3l4.2-4.2l1.4-1.5l7-7c0.4-0.4,0.4-1.2,0-1.6
                l-20-20l0.7-0.7c0.4-0.4,0.4-1.2,0-1.6c-0.4-0.5-1.2-0.5-1.6,0L147,144.2c-0.6-0.2-1.2-0.4-1.9-0.4h-7.7V130h2.9
                c3.2,0,5.8-2.6,5.8-5.8c0-3.2-2.6-5.8-5.8-5.8h-10.2c0.2-0.7,0.3-1.4,0.3-2.1c0-2.8-1.4-5.3-3.6-6.8V78.8h26.6
                c0,0.4,0.1,0.7,0.1,1.1c0,0.4,0.1,0.9,0.1,1.3c0,0,0,0.1,0,0.1c1.7,12,12,21.1,24.4,21.1c3.1,0,6.2-0.6,9.1-1.8
                c4.8-1.9,8.8-5.2,11.6-9.5l21,20.9L225.9,118.6z M217.2,211.5c-0.1,2-0.4,4.1-0.8,6.1c-0.1,0.4-0.1,0.8-0.2,1.2c-0.2,1-0.5,2-0.7,3
                c-0.2,0.6-0.4,1.1-0.5,1.7c-0.2,0.7-0.4,1.4-0.7,2c-5.8-0.3-11.5,1.6-16.3,5.1l-0.4,0.4c-8.6,6.5-18.9,9.9-29.6,9.9
                c-9.6,0-18.7-2.9-26.7-8.1h12.5c4,0,7.2-3.1,7.5-7.1c2.3,0.3,4.5,0.6,6.8,0.6c11.3,0,22-3.6,31.1-10.4l0.4-0.4
                c5.1-3.7,11.3-5.4,17.9-4.4C217.2,211.3,217.2,211.4,217.2,211.5z M202.6,243.4c-1,1.1-2.1,2-3.3,3c-0.5,0.4-1,0.8-1.5,1.2l-1.4,1
                l-0.3,0.2c0,0,0,0,0,0s0,0-0.1,0l-3.3,2.2c-0.5,0.3-0.9,0.5-1.1,0.6c-0.5,0.2-1,0.5-1.5,0.7c-0.6,0.3-1.3,0.6-1.9,0.9
                c-0.5,0.3-1.1,0.5-1.6,0.8c-0.6,0.2-1.1,0.4-1.7,0.6c-0.7,0.2-1.3,0.5-1.9,0.7c-0.5,0.2-1,0.3-1.4,0.4c-0.8,0.2-1.5,0.5-2.3,0.6
                c-0.6,0.2-1.1,0.3-1.6,0.3c-0.7,0.1-1.5,0.3-2.2,0.4c-0.8,0.2-1.6,0.2-2.4,0.3c-0.5,0-1,0.1-1.5,0.2c-1.3,0.1-2.6,0.1-3.9,0.1
                c-11.2,0-21.7-3.6-30.5-10.5l-1.4-1c-4.2-2.5-9-3.9-13.9-3.9c-4.9,0-9.7,1.3-13.9,3.9l-1.3,1c-8.8,6.9-19.3,10.5-30.5,10.5
                c-2.3,0-4.6-0.1-6.9-0.5c-0.9-0.2-1.7-0.4-2.6-0.6c-1.4-0.3-2.7-0.5-4.1-0.9c-1-0.3-2-0.7-3.1-1.1c-1.1-0.4-2.3-0.7-3.4-1.2
                c-1-0.5-2-1.1-3-1.6c-1-0.5-2.1-1-3.1-1.6l-1.2-0.8c-0.6-0.4-1.2-0.8-1.7-1.2l-0.2-0.1l-2.1-1.6c-6.1-5-10.9-11.5-14-18.8
                c5-0.1,9.9,1.6,13.8,4.5l0.6,0.5c9,6.7,19.7,10.3,31,10.3c11.3,0,21.9-3.6,30.8-10.3H103c-8,5.2-17,8.1-26.7,8.1
                c-10.8,0-21-3.4-29.5-9.8l-0.6-0.5c-4.6-3.3-10-5.1-15.6-5.1c-0.2,0-0.4,0-0.6,0c-0.8-2.1-1.4-4.3-1.9-6.5
                c-0.1-0.5-0.2-0.9-0.3-1.4c-0.4-2.1-0.7-4.3-0.8-6.4c6.6-1,12.8,0.7,17.7,4.2l0.6,0.5c9,6.8,19.7,10.3,31,10.3
                c2.3,0,4.5-0.3,6.7-0.5c0.2,4,3.5,7.1,7.5,7.1H137c9,6.7,19.6,10.3,30.8,10.3c11.3,0,22-3.6,31.1-10.4l0.4-0.3
                c4.1-3,8.9-4.5,13.9-4.6c-2.4,5.5-5.7,10.5-9.7,14.8C203.2,242.8,202.9,243.1,202.6,243.4z M28,197.6c0.2-1.1,0.6-2.2,0.9-3.3
                c0.2-0.6,0.3-1.2,0.5-1.8c0.4-1.2,0.9-2.3,1.4-3.4c0.2-0.5,0.4-1,0.6-1.5c1.8-3,3.3-6.1,4.5-9.4c0,0,0-0.1,0-0.1
                c0.3-0.8,0.5-1.6,0.8-2.4c0.1-0.3,0.2-0.6,0.3-1c0.2-0.7,0.3-1.4,0.5-2c0.1-0.5,0.3-1,0.4-1.4c0.1-0.6,0.2-1.3,0.3-1.9
                c0.1-0.5,0.2-1.1,0.3-1.6c0.1-0.7,0.2-1.4,0.2-2.1c0-0.5,0.1-1,0.2-1.5c0.1-1.2,0.1-2.4,0.1-3.7c0-2.2-0.1-4.3-0.4-6.4
                c-0.3-2.1-0.6-4.1-1.1-6.1c0,0,0-0.1,0-0.1c-3.1-12.4-10.5-23.1-20.7-30.2l28.5-26.9c2.7,4.4,6.8,7.9,11.6,9.9
                c2.9,1.2,6.1,1.9,9.4,1.9c10.6,0,19.6-6.7,23.1-16.1c0.1-0.2,0.1-0.3,0.2-0.5c0.1-0.4,0.2-0.8,0.3-1.1c0.1-0.4,0.2-0.8,0.3-1.2
                c0.1-0.5,0.2-1,0.3-1.6c0-0.3,0.1-0.5,0.1-0.8c0.1-0.8,0.2-1.6,0.2-2.4h26.4v30.6c-2.2,1.5-3.6,4-3.6,6.8c0,0.7,0.2,1.5,0.4,2.1
                h-10.2c-3.2,0-5.8,2.6-5.8,5.8c0,3.2,2.6,5.8,5.8,5.8h2.9v13.9H99c-0.7,0-1.3,0.2-1.9,0.4c0-0.1,0-0.1-0.1-0.2l-31.4-31.3
                c-0.5-0.5-1.2-0.5-1.6,0c-0.4,0.4-0.4,1.2,0,1.6l0.7,0.7l-20,20c-0.4,0.4-0.4,1.2,0,1.6L50,142l3.1,3.1l4.2,4.2
                c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l20-20l16.2,16.2c-1.2,1.1-1.9,2.6-1.9,4.3c0,3.2,2.6,5.8,5.8,5.8h0.7v23.4
                l-32.2-32.2c-0.4-0.4-1.2-0.4-1.6,0c-0.5,0.4-0.5,1.2,0,1.6l0.7,0.8l-20,20c-0.5,0.4-0.5,1.2,0,1.6l4.2,4.2v0l3.4,3.4l5,5
                c0.2,0.2,0.5,0.4,0.8,0.4c0.3,0,0.6-0.1,0.8-0.4l20.1-20L99.6,182c0,0.1,0.1,0,0.1,0.1v27.2l-16.1-16.1c0,0,0-0.1,0-0.1L71,180.4
                l-0.1,0l-1.4-1.4c-0.4-0.4-1.2-0.4-1.6,0c-0.4,0.5-0.4,1.2,0,1.6l0.7,0.6l-20,20c-0.5,0.5-0.5,1.1,0,1.6l6.3,6.3l2.1,2.1l4.2,4.2
                c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l20-20l15.4,15.4c-2.8,0.4-5,2.7-5,5.6c0,0.5,0.1,0.9,0.2,1.2h-2.9
                c-3.5,0-6.4,2.4-7.3,5.7c-2.2,0.3-4.6,0.6-6.9,0.6c-10.8,0-21-3.4-29.5-9.8l-0.6-0.5c-5.5-4-12.2-5.8-19.3-4.7c0-0.2,0-0.4,0-0.6
                c0-3.1,0.4-6.2,0.9-9.2C27.9,198.6,27.9,198,28,197.6z M148.4,217.7H95.7c-0.2-0.3-0.3-0.7-0.3-1.2c0-2,1.6-3.6,3.5-3.6h46.1
                c2,0,3.5,1.6,3.5,3.6C148.6,217,148.6,217.4,148.4,217.7z M153.6,220c2.9,0,5.3,2.4,5.3,5.3c0,2.9-2.4,5.3-5.3,5.3H90.5
                c-2.9,0-5.3-2.4-5.3-5.3c0-2.9,2.4-5.3,5.3-5.3H153.6z M142.1,176v4.2h-40.2V176H142.1z M101.9,173.8v-18.3h40.2v18.3H101.9z
                 M142.1,182.4v28.3h-12.9v-17.9c0-4-3.2-7.2-7.2-7.2c-4,0-7.3,3.2-7.3,7.2v17.9h-12.8v-28.3H142.1z M127.5,192.8v17.9h-11.1v-17.9
                c0-3,2.5-5.5,5.6-5.5C125.1,187.3,127.5,189.7,127.5,192.8z M143.2,153.2h-42.4l-0.1,0H99c-1.9,0-3.5-1.6-3.5-3.5
                c0-2,1.6-3.6,3.5-3.6h8.7c0.1,0,0.1,0.1,0.1,0.1h28.5v-0.1h8.9c2,0,3.5,1.6,3.5,3.6c0,2-1.6,3.5-3.5,3.5L143.2,153.2L143.2,153.2z
                 M108.9,143.9V130h26.2v13.8H108.9z M136.2,127.7h-28.5c0,0-0.1,0-0.2,0.1h-3.8c-2,0-3.5-1.6-3.5-3.5c0-2,1.6-3.6,3.5-3.6h36.5
                c2,0,3.6,1.6,3.6,3.6c0,1.9-1.6,3.5-3.6,3.5h-3.8C136.4,127.7,136.3,127.7,136.2,127.7z M70.4,120.8l2.7,2.7l-19.2,19.2l-1.3-1.4
                l-1.3-1.3L70.4,120.8z M49.6,138.5l-2.6-2.6l19.2-19.2l2.6,2.6L49.6,138.5z M74.7,125.1l2.6,2.6l-19.2,19.2l-2.6-2.6L74.7,125.1z
                 M72.3,154.9l1.4,1.3l1.3,1.3l-19.2,19.2l-0.5-0.4l-2.2-2.3L72.3,154.9z M51.6,172.5l-2.6-2.6l19.2-19.2l2.6,2.6L51.6,172.5z
                 M76.7,159.2l2.6,2.6L60,181l-2.6-2.5L76.7,159.2z M74.3,187l2.7,2.7l-19.2,19.2l-0.3-0.3l-2.4-2.4L74.3,187z M53.6,204.6L51,202
                l19.1-19.2l2.6,2.6L53.6,204.6z M78.6,191.3l2.6,2.6L62,213.1l-2.6-2.6L78.6,191.3z M108.1,288.8l-20-13.3c0.7-0.2,1.3-0.4,1.9-0.6
                c0.8-0.2,1.6-0.4,2.4-0.7c1.1-0.4,2.3-0.8,3.4-1.3c0.7-0.3,1.4-0.5,2.1-0.9c1.2-0.5,2.4-1.2,3.5-1.8c0.6-0.3,1.2-0.6,1.7-1
                c1.7-1,3.3-2.2,4.9-3.3l1.3-0.9c7.6-4.7,17.8-4.7,25.3,0l1.3,0.9c1.6,1.2,3.2,2.4,4.9,3.4c0.6,0.4,1.1,0.6,1.7,0.9
                c1.2,0.7,2.4,1.3,3.6,1.8c0.7,0.4,1.4,0.6,2.1,0.9c1.1,0.5,2.3,0.9,3.5,1.3c0.8,0.3,1.6,0.5,2.3,0.7c0.7,0.2,1.3,0.4,1.9,0.6
                l-18.6,12.4C129,294.6,116.9,295,108.1,288.8z M155.6,273c-0.9-0.2-1.7-0.4-2.5-0.6c-1.1-0.4-2.2-0.8-3.3-1.3
                c-0.7-0.3-1.5-0.5-2.2-0.8c-1.2-0.6-2.4-1.2-3.5-1.9c-0.6-0.3-1.2-0.6-1.7-0.9c-1.7-1-3.4-2.1-4.9-3.4l-1.4-0.9
                c-8.3-5.1-19.4-5.2-27.8,0l-1.3,1c-1.6,1.2-3.2,2.3-4.9,3.3c-0.6,0.4-1.2,0.6-1.8,1c-1.2,0.6-2.3,1.3-3.5,1.8
                c-0.7,0.3-1.5,0.6-2.2,0.8c-1.1,0.4-2.2,0.9-3.4,1.3c-0.8,0.2-1.6,0.4-2.4,0.6c-1.1,0.3-2.1,0.6-3.2,0.8l-23.9-15.9
                c0.1,0,0.2,0.1,0.4,0.1c0.2,0,0.4,0.1,0.6,0.1c2.1,0.6,4.3,1.1,6.5,1.4c0.1,0,0.3,0,0.3,0c2.3,0.3,4.6,0.5,7,0.5
                c11.7,0,22.7-3.8,31.8-10.9l1.3-0.9c7.6-4.7,17.8-4.6,25.3,0l1.3,0.9c9.1,7.2,20.2,11,31.8,11c1.3,0,2.6-0.1,4-0.2
                c0.4,0,0.7-0.1,1.1-0.1c0.9-0.1,1.9-0.2,2.8-0.3c0.4-0.1,0.7-0.2,1.1-0.2c0.9-0.2,1.9-0.3,2.8-0.6c0.4-0.1,0.6-0.1,1-0.2
                c0.7-0.2,1.3-0.3,2-0.5l-23.9,15.9C157.6,273.6,156.6,273.2,155.6,273z M188.9,206.2l-2.7,2.7l-19.1-19.2l2.7-2.7L188.9,206.2z
                 M171.4,185.4l2.6-2.6l19.2,19.2l-2.6,2.6L171.4,185.4z M184.6,210.5l-2.6,2.6l-19.2-19.2l2.6-2.6L184.6,210.5z M190.9,174.1
                l-2.3,2.3l-0.4,0.4L169,157.6l2.7-2.7L190.9,174.1z M173.3,153.4l2.5-2.6l19.2,19.2l-2.6,2.6L173.3,153.4z M186.6,178.4L184,181
                l-19.2-19.2l2.6-2.6L186.6,178.4z M192.9,140l-2.7,2.7L171,123.6l2.7-2.7L192.9,140z M175.3,119.3l2.6-2.6l19.2,19.2l-2.6,2.6
                L175.3,119.3z M188.6,144.3l-2.6,2.6l-19.2-19.2l2.6-2.6L188.6,144.3z M228.1,117.5l-13.2-13.2L199,88.1c0,0,0,0,0-0.1
                c-0.1-0.2-0.2-0.4-0.3-0.7c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.1,0-0.3,0-0.4c0-0.9,0.4-1.7,1-2.4c0.6-0.7,1.5-1,2.4-1c0,0,0.1,0,0.1,0
                c1,0,1.9,0.3,2.5,1l28.5,28.5c1.4,1.4,1.4,3.6,0,5.1C231.8,118.8,229.5,118.8,228.1,117.5z" />
                <path class="stLogo" d="M117.5,132.9v7.8v0.8h8.2h0.9v-0.8v-6.9v-0.9h-8.2H117.5z M119.2,134.7h5.6v5.2h-5.6V134.7z" />
                <path class="stLogo" d="M105.1,157.9v9.5v0.9h9.9h0.9v-0.9v-8.6v-0.9h-10H105.1z M106.8,159.7h7.4v6.9h-7.4V159.7z" />
                <path class="stLogo" d="M128,157.9v9.5v0.9h0.8h9.1h0.8v-9.5v-0.9h-10H128z M129.7,159.6h7.4v6.9h-7.4V159.6z" />
            </g> -->
<!--         </svg>
        </a> -->
    </div>
    <div class="col">
        <h2 class="tituloPrincipal">{{titulo}}</h2>
    </div>
    <div class="col"></div>
</div>

<div class="row divider"></div>
<div class="descripcion">
  <h6>
      {{descripcion|safe}}
  </h6>
</div>
<div class="row divider"></div>

<div class="row">
  <!-- SIDEBAR -->
  <div class="sidebar col-md-3">
    <div class="viajes-lista">
      <h3>Viajes</h3>
      <table class="table table-striped .table-bordered"
             id="recorridosTable"
             data-click-to-select="true"
             data-pagination="true"
             data-show-columns="true">
      </table>
    </div>
  </div>

  <!-- MAIN -->
  <div class="col">
    <div class="container-fluid">
      <!-- FORM ROW -->
      <div class="row align-items-center">
        <div class="form-group col-sm-7 col-md-5">
          <label for="fechaFormField">Fecha</label>
          <input type="text" class="form-control" id="fechaFormField" placeholder="dd/mm/yyyy">
        </div>
        <div class="form-group col-sm-5 col-md-4">
          <label for="lineaSel">Linea</label>
          <select class="form-control" id="lineaSel">
            {% for linea in lineas %}
            <option value="{{linea.id}}">{{linea.nombre_publico}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-sm-2 col-md-3" style="margin-top:auto; height:100%">
          <button type="button" class="btn btn-primary btn-md" id="btnViajes"
                  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Obteniendo viajes">
            Obtener viajes
          </button>
        </div>
      </div>

      <!-- Umbral -->
      <div class="row align-items-center mb-2">
        <div class="col-md-3">
          <span>Umbral (en metros) de desvío válido:</span>
        </div>
        <div class="col-md-6">
          <div id="umbral-slider">
            <div id="custom-handle" class="ui-slider-handle"></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="btn-group btn-group-justified" role="group" aria-label="Left Align">

            <div id="btn-toogle-legend" class="btn-group" role="group">
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Mostar/ocultar leyenda">
                <i class="fas fa-layer-group"></i>
              </button>
            </div>

            <div id="btn-toogle-info" class="btn-group" role="group">
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Mostrar/ocultar información de desvios">
                <i class="fas fa-info"></i>
              </button>
            </div>

            <div id="btn-refresh-map" class="btn-group" role="group">
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Recargar mapa">
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>

          </div>
        </div>
      </div>

      <!-- MAP ROW -->
      <div class="row">
        <div class="col-md-12">

          <div id="map" class="map">
            <pre id="info" class="ol-control">
            </pre>

            <div id="layers-box" class="ol-control panel panel-default" >
              <div class="layers-title panel-heading">
                <strong>Capas</strong>
              </div>

              <div class="layers-list">

                <div id="recorrido-point-layer" class="layer-item recorrido pto row">
                  <div class="layer-item-text col-md-9">
                    Recorrido Puntos
                  </div>
                  <div class="layer-item-icon col-md-3">
                    <svg height="20" width="35">
                      <circle id='recorridos_ok_ref' cx="10" cy="10" r="5" stroke="#3f844e" stroke-width="1" fill="green" />
                      <circle id='recorridos_mal_ref' cx="25" cy="10" r="5" stroke="#f442d4" stroke-width="1" fill="#ff0000" />

                     </svg>
                  </div>
                </div>

                <div id="recorrido-line-layer" class="layer-item recorrido line row">
                  <div class="layer-item-text col-md-9">
                    Recorrido linea
                  </div>
                  <div class="layer-item-icon col-md-3">
                     <svg height="20" width="30">
                       <polyline points="0,20 20,15 30,0" style="fill:none;stroke:green;stroke-width:3" />
                     </svg>
                  </div>
                </div>

                <div id="viaje-point-layer" class="layer-item viaje pto row">
                  <div class="layer-item-text col-md-9">
                    Viaje Puntos
                  </div>
                  <div class="layer-item-icon col-md-3">
                    <svg height="20" width="35">
                      <circle cx="17" cy="10" r="5" stroke="#0000ff" stroke-width="1" fill="#5db8e2" />

                     </svg>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>

{% endblock content %}

{% block tail %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-es-AR.min.js"></script>

<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>

<script type="text/javascript" src="{% static 'assets/js/mapa.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/desvios.js' %}"></script>

<script type="text/javascript">
  var fechaDesde = (new Date({{fecha_desde|date:"Y"}}, {{fecha_desde|date:"n"}}- 1, {{fecha_desde|date:"j"}}));
  var fechaHasta =  (new Date({{fecha_hasta|date:"Y"}}, {{fecha_hasta|date:"n"}}- 1, {{fecha_hasta|date:"j"}}));
</script>
{% endblock tail %}
