{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Descargables</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-center mb-4">
        <span class="navbar-brand mb-0 h1">CSVs descargables</a>
    </nav>

    <div class="container">
        <p>
            En esta sección puede descargar archivos relacionados a cortes por empresa, cortes por contrato, entre otros, en formato CSV.<br/>
            Elija el mes del cual desea descargar los datos y a continuación haga click sobre el botón Descargar.
        </p>

        <div class="container">
            <div class="mainCont border row my-3 p-3 align-items-center">
                <div class="col-6">
                    CSV de cortes por empresa
                </div>
                <div class="col-sm">
                    <div class="dropdown d-inline">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="cortesEmpresaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar Mes
                        </a>
                        
                        <div class="dropdown-menu" id="menu_cortesEmpresa" aria-labelledby="cortesEmpresaMenu">
                            <a class="dropdown-item" href="#">Seleccionar Mes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-month="03">Marzo 2019</a>
                            <a class="dropdown-item" href="#" data-month="04">Abril 2019</a>
                            <a class="dropdown-item" href="#" data-month="05">Mayo 2019</a>
                            <a class="dropdown-item" href="#" data-month="06">Junio 2019</a>
                            <a class="dropdown-item" href="#" data-month="07">Julio 2019</a>
                            <a class="dropdown-item" href="#" data-month="08">Agosto 2019</a>
                            <a class="dropdown-item" href="#" data-month="09">Septiembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="10">Octubre 2019</a>
                            <a class="dropdown-item" href="#" data-month="11">Noviembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="12">Diciembre 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <a href="#" class="dwnlButton btn btn-success disabled" role="button">Descargar</a>
                </div>
            </div>

            <div class="mainCont border row my-3 p-3 align-items-center">
                <div class="col-6">
                    CSV de cortes por contrato
                </div>
                <div class="col">
                    <div class="dropdown d-inline">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="cortesContratoMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar Mes
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="cortesContratoMenu">
                            <a class="dropdown-item" href="#" data-month="03">Marzo 2019</a>
                            <a class="dropdown-item" href="#" data-month="04">Abril 2019</a>
                            <a class="dropdown-item" href="#" data-month="05">Mayo 2019</a>
                            <a class="dropdown-item" href="#" data-month="06">Junio 2019</a>
                            <a class="dropdown-item" href="#" data-month="07">Julio 2019</a>
                            <a class="dropdown-item" href="#" data-month="08">Agosto 2019</a>
                            <a class="dropdown-item" href="#" data-month="09">Septiembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="10">Octubre 2019</a>
                            <a class="dropdown-item" href="#" data-month="11">Noviembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="12">Diciembre 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="dwnlButton btn btn-success disabled" role="button">Descargar</a>
                </div>
            </div>

            <div class="mainCont border row my-3 p-3 align-items-center">
                <div class="col-6">
                    CSV de cortes por hora
                </div>
                <div class="col">
                    <div class="dropdown d-inline">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="cortesPorHoraMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar Mes
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="cortesPorHoraMenu">
                            <a class="dropdown-item" href="#" data-month="03">Marzo 2019</a>
                            <a class="dropdown-item" href="#" data-month="04">Abril 2019</a>
                            <a class="dropdown-item" href="#" data-month="05">Mayo 2019</a>
                            <a class="dropdown-item" href="#" data-month="06">Junio 2019</a>
                            <a class="dropdown-item" href="#" data-month="07">Julio 2019</a>
                            <a class="dropdown-item" href="#" data-month="08">Agosto 2019</a>
                            <a class="dropdown-item" href="#" data-month="09">Septiembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="10">Octubre 2019</a>
                            <a class="dropdown-item" href="#" data-month="11">Noviembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="12">Diciembre 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="dwnlButton btn btn-success disabled" role="button">Descargar</a>
                </div>
            </div>

            <div class="mainCont border row my-3 p-3 align-items-center">
                <div class="col-6">
                    CSV de internos registrados
                </div>
                <div class="col">
                    <div class="dropdown d-inline">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="internosRegistradosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar Mes
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="internosRegistradosMenu">
                            <a class="dropdown-item" href="#" data-month="03">Marzo 2019</a>
                            <a class="dropdown-item" href="#" data-month="04">Abril 2019</a>
                            <a class="dropdown-item" href="#" data-month="05">Mayo 2019</a>
                            <a class="dropdown-item" href="#" data-month="06">Junio 2019</a>
                            <a class="dropdown-item" href="#" data-month="07">Julio 2019</a>
                            <a class="dropdown-item" href="#" data-month="08">Agosto 2019</a>
                            <a class="dropdown-item" href="#" data-month="09">Septiembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="10">Octubre 2019</a>
                            <a class="dropdown-item" href="#" data-month="11">Noviembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="12">Diciembre 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="dwnlButton btn btn-success disabled" role="button">Descargar</a>
                </div>
            </div>

            <div class="mainCont border row my-3 p-3 align-items-center">
                <div class="col-6">
                    CSV de choferes registrados
                </div>
                <div class="col">
                    <div class="dropdown d-inline">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="choferesRegistradosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar Mes
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="choferesRegistradosMenu">
                            <a class="dropdown-item" href="#" data-month="03">Marzo 2019</a>
                            <a class="dropdown-item" href="#" data-month="04">Abril 2019</a>
                            <a class="dropdown-item" href="#" data-month="05">Mayo 2019</a>
                            <a class="dropdown-item" href="#" data-month="06">Junio 2019</a>
                            <a class="dropdown-item" href="#" data-month="07">Julio 2019</a>
                            <a class="dropdown-item" href="#" data-month="08">Agosto 2019</a>
                            <a class="dropdown-item" href="#" data-month="09">Septiembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="10">Octubre 2019</a>
                            <a class="dropdown-item" href="#" data-month="11">Noviembre 2019</a>
                            <a class="dropdown-item" href="#" data-month="12">Diciembre 2019</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="dwnlButton btn btn-success disabled" role="button">Descargar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "/assets/js/descargables.js" %}"></script>
</body>
</html>