@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.mapTitle{
    text-align: center;
    background-color: #009059;
    padding: 0px;
    margin: 0;
    color: #FFF;
    font-family: 'Roboto';
}

.rowTitle {
  margin: 0;
  justify-content:center;
}

.mapText {
  text-align: center;
}


@media screen and (min-width:840px) {
  .logoGo {
    width: 35%;
    margin-left: 88%;
    margin-top: 2%;
  }
}

@media screen and (max-width:840px) {
  .logoGo {
    width: 33%;
    margin-left: 80%;
    margin-top: 4%;
  }
}


#all {
  height: 100%;
}

#map{
    height: 100%;
  }
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#all {
  position: relative;
}

#div_filtros {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 99;
  height: 600px;
  margin-top: 100px;
}

#select_lineas_para_filtro {
  height: 580px;
  width: 90px;
}

#legend {
  width: 100%;
}

.divider{
    margin-top: 30px;
}

.descripcion {
    padding-left: 40px
}