/*.map {
    height: calc(100vh - 214px);
}*/
.map:-moz-full-screen {
    height: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
}
.map:fullscreen {
    height: 100%;
}
.ol-rotate {
    top: 3em;
}

.map {
    border: 1.5px solid green;
}

.negrita {
    font-weight: bold;
}